version: '3.8'

services:
  backend:
    build: ./backend
    container_name: rpg-backend
    ports:
      - "4000:4000"
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - PORT=4000
    command: npm run dev

  frontend:
    build: ./frontend
    container_name: rpg-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - REACT_APP_API_URL=http://localhost:4000
    stdin_open: true
    tty: true
    # ADICIONEI ESTA LINHA ABAIXO PARA CORRIGIR O ERRO:
    command: npm start